---
---

@import "{{ site.theme }}";

body {
  //background-color: lightblue;
  background: url("background.png") repeat;
  font-family: sans-serif;
  color: white;
}

p {
  font-size: 15px;
}

li {
  font-size: 15px;
}

a {
  color: #668f80;
}

a:hover, a:focus {
  color: #198754;
}

h1, h2, h3, h4, h5, h6 {
  color: #126940
}