---
---

@import "{{ site.theme }}";

body {
  //background-color: lightblue;
  background: url("background.png") repeat;
  font-family: sans-serif;
  color: #e8e8e8;
}

p {
  font-size: 15px;
}

li {
  font-size: 15px;
}

a {
  color: #21b047;
}

a:hover, a:focus {
  color: #198754;
}

h1, h2, h3, h4, h5, h6 {
  color: #21b047;
}

code, pre {
  color: #42db6b;
}

.highlight {
  background-color: #2e2e2e;
}